.container .title {
    font-size: 25px;
    padding: 30px 30px 15px 30px;
}
.movie-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    padding: 0px 30px;
}
.movie-container div {
    background-color: #292929;
    border-radius: 10px;
}
.movie-container div img{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.movie-container div h2, p, a{
    padding: 0px 15px;
}
.movie-container div h2{
    padding-top: 10px;
}
.movie-container div a{
    background-color: #00c4c4;
    text-align: center;
    margin: 10px;
    height: 40px;
    color: #292929;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-container div a:hover{
    border: 1px solid #00c4c4;
    background-color: #292929;
    color: #00c4c4;
}

@media (max-width:999px){
    .movie-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 25px;
    }   
}

@media (max-width:668px){
    .movie-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 25px;
    }   
}

