#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0px;
    margin-top: 10px;
}
#navbar h2{
    font-size: 35px;
}
#navbar h2 a{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

p{
    font-weight: 600;
    font-style: italic;
}

@media (max-width:668px){
    .paragrafo{
        text-align: center;
    }
}
